body {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.center-text {
    text-align: center;
    display: block;
    width: 100%;
}

.icon-button {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 20;
    background-color: transparent;
    border: none;
    color: gray;
    font-size: 24px;
    outline: none;
    transition: color 0.3s ease;
}

.icon-button:hover {
    color: darkgray;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 50px; /* Start the sidebar 50px from the top */
    bottom: 50px; /* Give some space at the bottom as well */
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform 0.3s ease;
    border-radius: 0 0 10px 10px; /* Round the bottom corners */
    overflow: auto; /* Allows scrolling if content overflows */
}

.sidebar.collapsed {
    transform: translateX(-100%);
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
    transition: margin-left 0.3s ease;
}

.controls {
    transition: opacity 0.3s ease;
}

.control-group {
    margin-bottom: 20px;
}

.control-button {
    width: 100%;
    text-align: left;
}

.control-options {
    padding: 10px 0;
}

.control-label {
    display: block;
    margin-bottom: 5px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .sidebar {
        width: 200px; /* Smaller sidebar for smaller screens */
    }
    
    .icon-button {
        font-size: 20px; /* Smaller icon for smaller screens */
    }
}
