body {
    display: flex; /* Use flexbox layout */
    flex-direction: row; /* Arrange children (sidebar and canvas-container) in a row */
    margin: 0; /* Remove default margin */
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Prevent scrolling */
}

#toggleSidebarButton {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 20;
    background-color: transparent; /* No background */
    border: none; /* Remove border */
    color: gray; /* Set icon color to gray */
    padding: 5px; /* Adjust padding to your preference */
    font-size: 24px; /* Adjust size of the icon */
    outline: none; /* Remove the outline to ensure there's no border when focused */
}

#toggleSidebarButton:hover {
    color: darkgray; /* Change color when hovering for visual feedback */
}


.sidebar {
    position: fixed; /* Fixed position to the left */
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px; /* Adjust the width as needed */
    background-color: #f4f4f4; /* Light grey background */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* Add some shadow to the sidebar */
    z-index: 10; /* Ensure the sidebar is above the canvas */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.canvas-container {
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
    flex-grow: 1; /* Take up remaining space */
    position: relative; /* Position relative to the parent */
    overflow: hidden; /* Prevent scrolling inside the canvas container */
}


/* Adjust the canvas position to fill the container */
canvas {
    position: absolute;
    top: 0;
    left: 0;
}

/* Style the select, range input and button */
#symmetrySelector, #petalSlider, #clearButton {
    margin-bottom: 20px; /* Add some space below the controls */
}

#controls {
    margin: 10px;
}

#symmetrySelector {
    width: auto; /* Bootstrap's form-control class handles the width */
    padding: 5px;
    margin-right: 10px;
}

#petalSlider {
    width: auto; /* Bootstrap's custom-range class handles the width */
    margin: 5px 10px;
}

button {
    padding: 5px 10px;
}

.sidebar.collapsed {
    width: 0;
    padding: 0;
    visibility: hidden;
}

.canvas-container.expanded {
    margin-left: 0;
}

